.card-style:hover {

    background-color: #4faee238;
    box-shadow: 5px 4px 11px #646464;
    border-radius: 4px;

}

.card-style:hover .custom-style {

    transition: transform .9s;
    transform: scale(1.2);
    opacity: 0.6;
    cursor: pointer;
   
}